.home-chill {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: center;
}


.monty-chill {
  animation: float 8s infinite alternate;

}

@keyframes float {
  0% {
    transform: translateX(50px);
  }


  100% {
    transform: translateX(-50px);
  }
}



.head-chill {
  display: flex;
  position: relative;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background: radial-gradient(circle at 50% 50%, #7404a0 0%, #6cee99 100%);
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


.eyes-chill {
  position: absolute;
  height: 50%;
  width: 100%;
}

#eye1-chill {
  display: flex;
  width: 30%;
  height: 60%;
  margin-top: 100px;
  margin-left: 20px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #101618 0%, #6fbfffd1 30%, #4381b2 100%)
}

#eye2-chill {
  display: flex;
  width: 30%;
  height: 60%;
  margin-top: 100px;
  margin-left: 195px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #101618 0%, #6fbfffd1 30%, #4381b2 100%)
}

.body-chill {
  position: relative;
  overflow: hidden;
  margin-top: -60px;
  margin-left: 61px;
  width: 250px;
  height: 90px;
  border-radius: 50px/25px;
  background-color: transparent;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.body-chill:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 50px;
  background-image: radial-gradient(#1fa3c1, #591bbbc7);
  border-radius: 50px/25px;
  background-color: rgba(39, 20, 219, 0.2);
  content: '';
  border-color: #4381b2;
  border-width: 1px;
}

.body-chill:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 50px;
  border-radius: 50px/25px;
  background-image: radial-gradient(#1fa3c1, #591bbbc7);
  content: '';
}

.legs-chill {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#leg1-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 300px;
  margin-top: -76px;
  margin-left: 25px;
  animation-name: pulse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}


#leg2-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 300px;
  margin-top: -76px;
  margin-left: 53px;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#leg3-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 310px;
  margin-top: -63px;
  margin-left: 78px;
  animation-name: pulse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#leg4-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 310px;
  margin-top: -42px;
  margin-left: 108px;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#leg5-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 310px;
  margin-top: -42px;
  margin-left: 160px;
  animation-name: pulse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#leg6-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 300px;
  margin-top: -63px;
  margin-left: 193px;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#leg7-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 310px;
  margin-top: -76px;
  margin-left: 223px;
  animation-name: pulse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#leg8-chill {
  display: flex;
  position: absolute;
  border-left: 10px solid purple;
  height: 310px;
  margin-top: -76px;
  margin-left: 259px;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {}

  50% {
    transform: scale(1.1);

  }
}