.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}



.navButton {
    background-color: blue;
    display: inline-flex;
    height: 100px;
    margin-top: 300px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 60px;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    width: 100%;
}