.home-sleep {
    display: flex;
    height: 700px;
    width: 100%;
    justify-content: center;
}


.head-sleep {
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background: radial-gradient(circle at 50% 50%, #7404a0 0%, #6cee99 100%);
    
}



.eyes-sleep {
    position: absolute;
    height: 50%;
    width: 100%;
}

#eye1-sleep {
    display: flex;
    width: 30%;
    height: 60%;
    margin-top: 100px;
    margin-left: 20px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, #101618 0%, #6fbfffd1 30%, #4381b2 100%);
    overflow: hidden;
    animation-name: eyeHeightSleep;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

#eye2-sleep {
    display: flex;
    width: 30%;
    height: 60%;
    scale: 1;
    margin-top: 100px;
    margin-left: 195px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, #101618 0%, #6fbfffd1 30%, #4381b2 100%);
    animation-name: eyeScaleSleep;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes eyeHeightSleep {
    0% {
        height: 60%
    }
    100% {
        height: 0%;
      
    }
  }

  @keyframes eyeScaleSleep {
    0% {
        scale: 1;
    }
    100% {
        scale: 0;
      
    }
  }
.body-sleep {
    position: relative;
    overflow: hidden;
    margin-top: -60px;
    margin-left: 61px;
    width: 250px;
    height: 90px;
    border-radius: 50px/25px;
    background-color: transparent;
}

.body-sleep:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 50px;
    background-image: radial-gradient(#1fa3c1, #591bbbc7);
    border-radius: 50px/25px;
    background-color: rgba(39, 20, 219, 0.2);
    content: '';
    border-color: #4381b2;
    border-width: 1px;
}

.body-sleep:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 50px;
    border-radius: 50px/25px;
    background-image: radial-gradient(#1fa3c1, #591bbbc7);
    content: '';
}

.legs-sleep {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#leg1-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -76px;
    margin-left: 25px;
    animation-name: legHeightSleep;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}



#leg2-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -76px;
    margin-left: 53px;
    animation-name: legHeightSleep;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    
}

#leg3-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -63px;
    margin-left: 78px;
    animation-name: legHeightSleep;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
   
}

#leg4-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -42px;
    margin-left: 108px;
    animation-name: legHeightSleep;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    
}

#leg5-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -42px;
    margin-left: 160px;
    animation-name: legHeightSleep;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}

#leg6-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -63px;
    margin-left: 193px;
    animation-name: legHeightSleep;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    
}

#leg7-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -76px;
    margin-left: 223px;
    animation-name: legHeightSleep;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}

#leg8-sleep {
    display: flex;
    position: absolute;
    border-left: 10px solid purple;
    height: 300px;
    margin-top: -76px;
    margin-left: 259px;
    animation-name: legHeightSleep;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes legHeightSleep {
    0% {
        height: 300px
    }
    100% {
        height: 0px
      
    }
  }
